/* Heart Animation Styles */

html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  background: #f3f4f4;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

/* Cấu hình trái tim */
.heart {
  width: 24px;
  height: 21px;
  background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
  position: absolute;
  display: block;
  z-index: 10; /* Đặt z-index cao để hiển thị trên cùng */
}

.x1 {
  left: 5%;
  transform: scale(0.9);
  opacity: 0.6;
  animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 25%;
  transform: scale(0.6);
  opacity: 0.9;
  animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
  left: 55%;
  transform: scale(0.8);
  opacity: 0.8;
  animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
  left: 72%;
  transform: scale(0.75);
  opacity: 0.9;
  animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x5 {
  left: 88%;
  transform: scale(0.8);
  opacity: 0.3; 
  animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
  left: 33%;
  opacity: 1; 
  animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@keyframes moveclouds { 
  0% { 
    top: 500px;
  }
  100% { 
    top: -500px; /* Di chuyển lên phía trên màn hình */
  }
}

@keyframes sideWays { 
  0% { 
    margin-left: 0px;
  }
  100% { 
    margin-left: 50px;
  }
}

@keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left: -0.3%;
  }
  33% {
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left: -12%;
  }
}
